streamlit==1.33.0
pandas==2.2.2
gspread==6.0.0
pillow==10.3.0
google-auth
google-api-python-client
pdfplumber
watchdog # Não é diretamente usado no script atual, mas mantido se for para futuro "folder watcher"
python-magic # Necessário para magic.from_file
pytesseract
gspread_dataframe
numpy # Adicionado explicitamente, pois cv2 o utiliza e é bom ter como dependência
opencv-python # Adicionado, pois você usa cv2
