streamlit==1.26.0
pandas==2.2.2
google-cloud-vision==3.5.0
google-api-python-client==2.88.0
google-auth==2.25.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.2.0
pymupdf==1.22.0
python-dateutil==2.8.2
lxml==4.9.3
regex==2023.10.3
tqdm==4.66.1
